*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
header{
    box-shadow: 0px 1px 1px rgba(222, 222, 222, 0.59);
    position:fixed;
    z-index: 999;
}
//reset select, options and inputs
select, option{
    width: 100%;
    border: 0px;
}
option{
    text-align: center;
}

//end reset

#contenido-uno{
   padding-top: 130px;
    background-image: url(../image/banner-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
#contenido-tres{
    background-image: url(../image/banner-2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#caja-formulario{
    background: white;
    padding: 1.6rem;
    border-radius: 2rem;
    width: 90%;
    margin: 1em auto;
    border: 2px solid rgba(0,0,0,.2);
    
    color: rgb(58,83,138);
}
    input[type="text"], input[type="email"], input[type="tel"], select{
        border: 0px;
        border-bottom: 1px solid lightgray;
        padding: .5rem 1rem;
        margin: .5rem 0rem;
        border-radius: 0px;
        width: 100%;
        text-align: left;
        &:focus {
            outline: 2px solid rgba(blue,.3);
            border: 0px;
        }
    }


input[type="submit"], .button-form{
    text-align: center;
    background: orange;
    color: white;
    padding: .5em 1em;
    border-radius: 20px;
    border:0px;
    text-decoration: none;
    margin: 2rem auto;
}
footer{
    background: rgba(lightgray,.3);
    padding: 1rem 0rem;
}

