@media all and (min-width: 769px) and (max-width: 1024px){
    *{
        font-size: 1rem;
    }
    a{
        color: rgb(58,83,138);
        text-decoration: none;
    }
    #navCheckBars i{
       display: none;
    }
    h3{
        color: rgb(58,83,138);
        font-size: 1.5rem;
    }
    p{
        padding: .5rem 0rem;
    }
    #main{
        text-align: center;
        width: 100%;
    }
    header{
        background: white;
        box-shadow: 0px 2px 1px #999;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
            img{
                width: 272px;
            }
    }
    #navCheckBars{
        position: absolute;
        right: 5px;
        top: 5px;
    }
    #navCheck{
        display: none;
    }
    nav{
        ul{
            display: flex;
        }
        li{
           flex: auto; 
            padding: .5rem;
            margin: .5em;
            border-bottom: darken(orange,5) 1px solid;
            a{
                display: block;
                cursor: pointer;
            }
        }
    }
    
    .bloque-cont{
        padding: 2rem 0rem;
        width: 100%;
    }
    
    
    #rutas-ciudadano{
        width: 100%;
        img{
            width: 50%;
            opacity: .8;
        }
    }
    
    #sec-main{
        padding: 0px;
        margin: 0px;
    }
    
    .caja-flex-horizontal{
        width: 100%;
    }
    
    ._sideB, ._sideA{
        img{
            width: 300px;
            padding: .8em;
        }
    }
    
    //Formulario noRe
    .caja-flex-horizontal{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        p{
            text-align: justify;
        }
    }
        .subbloque-cont{
            padding: 2rem;
    }
    
    #caja-formulario{
        width: 300px;
    }
    #caja-contenido-cuatro{
        justify-content: space-between;
    }
    #contenido-dos{
        padding: 2rem;
    }
    #contenido-uno{
        display: flex;
        justify-content: flex-end;
    }
   #caja-contenido-dos{
       border: 2px solid lightgray;
       padding: 1.5rem;
    }
    #caja-contenido-tres{
        text-align: left;
        h3{
            padding: 1rem;
        }
    }
    #rutas-ciudadano{
        display: flex;
        flex-wrap: wrap;
        li{
            padding: 0em .3em;
            flex: auto;
            img{
                width: 300px;
            }
        }
    }
    footer{
        justify-content: space-between;
    }
}